<div>
	<div class="main2">
			<table>
					<tr>
						<th>Nombre</th>
						<th>RSVP</th>
						<th>Invitados</th>
						<th>Estadia Jueves</th>	
						<th>Estadia Viernes</th>	
						<th>Estadia Sabado</th>
						<th>Transporte</th>
						<th>Llegada</th>
						<th>Salida</th>
						<th>Notas</th>
						<th>Email</th>			
					</tr>
					<% @rsvps.each do |rsvp| %>
						<tr>
							<td><%= rsvp.name %></td>
							<td><%= rsvp.rsvp %></td>
							<td><%= rsvp.num_ppl %></td>
							<td><%= rsvp.house_thu %></td>
							<td><%= rsvp.house_fr %></td>
							<td><%= rsvp.house_sat %></td>
							<td><%= rsvp.transportation %></td>
							<td><%= rsvp.arrival %></td>
							<td><%= rsvp.departure %></td>
							<td><%= rsvp.special_needs %></td>
							<td><%= rsvp.email %></td>
						</tr>
					<% end %>
			</table>
			<br class="clear">
		<a href="/wedding/home"><h4 class="date">Home</h4></a>

	</div>
</div>	