<div>
	<div class="main">
		<h2 class="h3">Datos</h2>
			<table id="table">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Invitados</th>
						<th>Estadia Jueves</th>	
						<th>Estadia Viernes</th>	
						<th>Estadia Sabado</th>
						<th>Transporte</th>
						<th>Llegada</th>
						<th>Salida</th>
						<th>Notas</th>
						<th>Email</th>			
					</tr>
				</thead>
				<tbody>
					<% @rsvps.each do |rsvp| %>
						<tr>
							<td><%= rsvp.name %></td>
							<td><%= rsvp.num_ppl %></td>
							<td><%= rsvp.house_thu %></td>
							<td><%= rsvp.house_fr %></td>
							<td><%= rsvp.house_sat %></td>
							<td><%= rsvp.transportation %></td>
							<td><%= rsvp.arrival %></td>
							<td><%= rsvp.departure %></td>
							<td><%= rsvp.special_needs %></td>
							<td><%= rsvp.email %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<br class="clear">
		<a href="/wedding/nuevo"><h4 class="date">Agregar</h4></a>
		<a href="/wedding/home"><h4 class="date">Home</h4></a>

	</div>
</div>	